
<div class="container card bg-light LOG mt-5 LOG-TITLE ">
    <div class="row align-middle">
        <h1 class="font-italic font-weight-bold">Login</h1>
    </div>
    <div class="row LOG-FIELD">
        <form #myForm ="ngForm" (ngSubmit)="submitForm()"action="">
            <label for="" class="font-weight-bold"><h4>Username</h4></label>
            <div class="LOG-INPUT mb-2">
                <input type="text">
            </div>
            <label for="" class="font-weight-bold"><h4>Password</h4></label>
            <div class="LOG-INPUT">
                <input type="text">
            </div>
            <button type="button" class=" LOG-LOGIN btn text-center mt-3">Login</button>
            <div class="row mt-3 ml-0 border-bottom p-0">
                        <input class="col-1 mt-1" type="checkbox" aria-label="Checkbox for following text input">
                        <p class="text-muted mt-0 ">Remember me</p> 
            </div>
            <div class="row mt-3 pb-3 ml-0 border-bottom p-0">
                    <button type="button" class="LOG-SIGNUP btn text-center mt-3">Sign-Up</button>
                    <p class="text-muted mt-4 ml-5">Forgot Password?</p> 
        </div>
        </form>
    </div>
</div>