div{
    z-index: 6;
}

.LOG-TITLE{
    color: orangered;
    width: 20rem;
} 
.LOG-FIELD{
    margin-left: 0vh;
}
input{
    width:16rem ;
}
input:focus{
    background-color: lightyellow;
}
input[type=checkbox]{
    width:16rem;
    height: 75%;
}
h1{
   margin-left: 40%;
}
p{
    margin-top: -10vh;
}
.LOG-LOGIN{
    width: 16rem;
    background-color: orangered;
    color: ghostwhite;
   
}
.LOG-INPUT{
    margin-top: -3vh;
}
.LOG-SIGNUP {
    width: 5rem;
    background-color: orangered;
    color: ghostwhite;
}
.LOG-INV-INP{
  
    
}
.LOG-INV-INP:focus{
  
}