div{
    z-index: 6;
}

.LOG-TITLE{
    color: orangered;
    width: 27%;
} 
.LOG-FIELD{
    margin-left: 0vh;
}
input{
    width:90% ;
}
input:focus{
    background-color: lightyellow;
}
input[type=checkbox]{
    width:20vh;
    height: 75%;
}
h1{
    margin-left: 110px;
}
p{
    margin-top: -10vh;
}
.LOG-LOGIN{
    width: 90%;
    background-color: orangered;
    color: ghostwhite;
}
.LOG-INPUT{
    margin-top: -3vh;
}
.LOG-SIGNUP {
    width: 30%;
    background-color: orangered;
    color: ghostwhite;
}
body{
    
}