div{
    z-index: 6;
}

.LOG-TITLE{
    color: orangered;
    width: 25%;
} 
.LOG-FIELD{
    margin-left: 0vh;
}
input{
    width:110% ;
}
input:focus{
    background-color: lightyellow;
}
input[type=checkbox]{
    width:20vh;
    height: 75%;
}
h1{
    margin-left: 110px;
}
p{
    margin-top: -10vh;
}
.LOG-LOGIN{
    width: 110%;
    background-color: orangered;
    color: ghostwhite;
   
}
.LOG-INPUT{
    margin-top: -3vh;
}
.LOG-SIGNUP {
    width: 37%;
    background-color: orangered;
    color: ghostwhite;
}
.LOG-INV-INP{
  
    
}
.LOG-INV-INP:focus{
  
}