<footer>
		<div class="row">
			<div class="col-4">
				<ul class="footer-nav">
					<li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
					<li><a [routerLink]="['/resourcesPage']" routerLinkActive="router-link-active">Resources</a></li>
					<li><a [routerLink]="['/projectPage']" routerLinkActive="router-link-active">Projects</a></li>
					<li><a [routerLink]="['/formulaPage']" routerLinkActive="router-link-active">Formula</a></li>
				</ul>
			</div>
			<p>
                    Copyright &copy; 2019 by TEAM YPI. All rights reserved.
            </p>
		</div>
		<div class="row">
			
		</div>



	</footer>
