footer {
	background-color: #333;
    padding: 50px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2vh;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li, .social-links li{
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {

	text-decoration: none;
	border:0;
	color:#888;
	transition: color .2s;

}

.footer-nav li a:hover, .footer-nav li a:active {
	color:#fff;

}

footer p {
	color:#888;
	text-align: center;
	font-size:90%;
	margin-top: 30px;
}

.social-links li a:link, .social-links li a:visited {
	font-size: 180%;
}
.fa-twitter-square,
.fa-facebook-square,
.fa-google-plus-square,
.fa-instagram {
	transition: color .2s;
}




.fa-twitter-square:hover {
	color: #00aced;
}

.fa-facebook-square:hover {
	color: #3b5998;
}

.fa-google-plus-square:hover {
	color: #dd4b39;
}

.fa-instagram:hover {
	color: #517fa4; 
}
