<footer>
		<div class="row">
			<div class="col-4">
				<ul class="footer-nav">
					<li  routerLink="/homePage" routerLinkActive="ROUTE"><a >Home</a></li>
					<li  routerLink="/resourcesPage" routerLinkActive="ROUTE"><a>Resources</a></li>
					<li  routerLink="/projectPage" routerLinkActive="ROUTE"><a >Projects</a></li>
					<li  routerLink="/formulaPage" routerLinkActive="ROUTE"><a>Formula</a></li>
				</ul>
			</div>
			<p>
                    Copyright &copy; 2019 by TEAM YPI. All rights reserved.
            </p>
		</div>
		<div class="row">
			
		</div>



	</footer>
