.selectProject{
  float: right;
}
.projectTitle{
  text-align: center;
}

table{
  width: 49%;
  border: 1px solid #aaaaaa;
  text-align: center;

  float: left;
  height: 535px;
}

table.left{
  float:left;
  margin-top: 50px;
  display: inline-block;
}

table.right{
  margin-left: 2%;
  margin-top: 30px;
  display: inline-block;
  overflow-y: scroll;
  width: 49%;

}

caption{
  text-align: center;
  font-size: large;
  caption-side: top;
  width: 542px;
  background-color: #888888;
  color: black;

}

th{
  width: 50%;
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
}

tbody{
  overflow: scroll;
  display: inline-block;
}

td{
 text-align: left;
  width: 272px;
}


.dataField{
  margin-left: 3%;
}
.iconButton{
  float: right;
  margin-right: 10px;
  background-color: orangered;
  color: white;
}
.iconButton[name=trash]{
  margin-left: -6%;
}

.dropbtn{
  background-color: orangered;
  color: white;

}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-left: -6%;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  text-align: left;
  font-size: x-small;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.table-responsive{
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.projectName, .projectCode{
  margin-right: 5px;
}

.submitButton{
  float:right;
  margin-top: 1%;
  background-color: orangered;
  color: white;
}

.resourceLink{
  float: left;
  color: blue;
  margin-top: 1%;
}

.pagination{
  float: left;
  margin-top: 1%;
}

.pageNumber{
  margin-left: 40%;
}
