.selectProject{
float:right;
}
.projectTitle{
  text-align: center;
}
.userInput{
  width: 8em;
}
table{
  width: 49%;
  height: 41em;
  text-align: center;
  float: left;
  display: inline-block;
  overflow-y: scroll;
  border: 1px solid #aaaaaa;

}

table.left{
  float:left;
  margin-top: 3em;

}

table.right{
  margin-top: 1.2em;
  margin-left: 2%;
}

caption{
  text-align: center;
  font-size: large;
  caption-side: top;
  height: 50px;
  width: 100%;
  background-color: #888888;
  color: black;

}

th{
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
  width: 22em;
}

tbody{
  border: none;
}

td{
 text-align: left;
  border: none;
}

.dataField{
  margin-left: 3%;
}
.iconButton{
  float: right;
  margin-right: 2%;
  background-color: orangered;
  color: white;
}
.iconButton[name=trash]{
  margin-left: -6%;
}

.dropbtn{
  background-color: orangered;
  color: white;

}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  overflow-x: visible !important;
}
.selectAllBox{
  margin-right: 3%;
  margin-left: -8%;
}


.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f1f1f1;
  min-width: 9em;
  text-align: left;
  font-size: small;
  overflow-x: visible !important;

}

.dropdown-content a {
  color: black;
  padding: 1.2% 1.6%;
  text-decoration: none;
  display: block;

}

.table-responsive{
  overflow-x: visible !important;
  overflow-y: visible !important;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.projectName, .projectCode, dataColumn{
  margin-right: 1%;
}

.submitButton{
  float:right;
  margin-top: 1%;
  background-color: orangered;
  color: white;
}

.resourceLink{
  float: left;
  color: blue;
  margin-top: 1%;
}

.pagination{
  float: left;
  margin-top: 1%;
}

.pageNumber{
  margin-left: 40%;
}

.bottomButton{
  margin-bottom: -5em;
}

