<mat-drawer-container class="example-container mb-5 " autosize>
  <mat-drawer #drawer class="example-sidenav rounded-lg shadow-lg" mode="side">
    <p class="text-white">YOUR OPTIONS</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button routerLink="/homePage" routerLinkActive="ROUTE" class="row border-bottom " mat-raised-button>
      <i class="fas fa-home mr-3"></i>   Home
    </button>
    <br><br>
    <button routerLink="/resourcesPage" routerLinkActive="ROUTE" class="row btn-light border-bottom border-light" mat-raised-button>
      <i class="fab fa-sourcetree mr-3"></i>  Resources
    </button>
    <br><br>
    <button routerLink="/projectPage" routerLinkActive="ROUTE"  class="row border-bottom border-light" mat-raised-button>
      <i class="fas fa-project-diagram mr-3"></i> Project
    </button>
    <br><br>
    <button routerLink="/formulaPage" routerLinkActive="ROUTE" class="row border-bottom border-light"  mat-raised-button>
      <i class="fas fa-square-root-alt mr-3"></i> Formula
    </button>
    <br><br>
    <button routerLink="/changeRequest" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-dice-d20 mr-3"></i>  Change Request
    </button>
    <br><br>
    <button routerLink="/budget" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-coins mr-3"></i>  Budget
    </button>
    <br><br>
    <button routerLink="/primeSupplier" routerLinkActive="ROUTE" class="row border-bottom t" mat-raised-button>
        <i class="fas fa-box-open mr-3"></i> Prime Supplier
    </button>
    <br><br>
    <button routerLink="/changeControl" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-gamepad mr-3"></i>  Change Control
    </button>
    <br><br>
    <button routerLink="/contract" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-file-contract mr-3"></i> Contract
    </button>
    <br><br>
    <button routerLink="/approvedChange" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-balance-scale-right mr-3"></i>  Approved Change
    </button>
    <br><br>
    <button routerLink="/summary" routerLinkActive="ROUTE" class="row border-bottom border-light" mat-raised-button>
        <i class="fas fa-list-alt mr-3"></i> Summary
    </button>
  </mat-drawer>

</mat-drawer-container>

  <button type="button" class="btn btn-dark" mat-button (click)="drawer.toggle()">
      <i class="fas fa-exchange-alt"></i>
  </button>
  