.example-container {
  width: 200px;
  height:100vh;
  border: 1px transparent rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: transparent;
}

.example-sidenav-content {
  display: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.example-sidenav {
  padding: 20px;
  width: 200px;
 
 
}
#gg{
  background-color: transparent;
}

.ROUTE{
 background-color: grey;
 color: orangered;
}