.example-container {
  width: 300px;
  height:100vh;
  border: 1px transparent rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color:transparent;
}

.example-sidenav-content {
  display: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
  background:black ;
  
}

.example-sidenav {
  padding: 20px;
  width: 250px;
  background-color: #333;
  z-index: 10;
 
}
#gg{
  background-color: transparent;
}

.ROUTE{
 background-color: grey;
}

mat-drawer-container{
  background-color: black;
}

