
<div class="bg-secondary col-12 row ml-1">
        <div class="col-3 mt-2 pb-2">
                <div class="input-group ">
                        <input type="text" name="searchTerm" [(ngModel)]="theservice.searchTerm" class="form-control" placeholder="Keyword" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                        <button class="btn " type="button" id="button-addon2"><i class="fab fa-searchengin"></i></button>
                        
                        </div>
                        <span class="ml-3" *ngIf="theservice.loading$ | async">Loading...</span>
                </div>
        </div>
        <div class="col-4 text-white p-0 mt-2 RE">
            <h2>Resources</h2>
        </div>
        <div class=" p-0 mt-2 REX ">
                <ng-template #popOptions>
                    <div class="row ">
                            <i class="fas fa-align-left float-left ml-2"></i>
                            <p class="ml-3"> Row <p>
                    </div>
                    <div class="row "> 
                            <i class="fas fa-columns float-left ml-2"></i> 
                            <p class="ml-3">Add Column</p>
                    </div>
                    <div class="row ">
                            <i class="fas fa-file-import float-left ml-2"></i>
                            <p class="ml-3">Import CSV</p> 
                    </div>
                </ng-template>

                <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
                        [ngbPopover]="popOptions" popoverTitle="Options View">
                        <i class="fas fa-plus-square"></i>
                </button>
        </div>
</div>
