
<table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" sortable="name" (sort)="onSort($event)">RESOURCE NAME</th>
          <th scope="col" sortable="codeNumber" (sort)="onSort($event)">RESOURCE CODE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let li of dataList | async">
          <th scope="row"><i class="fas fa-sign-in-alt"></i></th>
          <td><ngb-highlight [result]="li.name" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="li.codeNumber | number" [term]="service.searchTerm"></ngb-highlight> </td>
        </tr>
        </tbody>
</table>
<div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
        </ngb-pagination>
    
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
</div>