button{
    background-color: orangered;
    color: ivory;
}
.RE{
    margin-left: 20%;
}

.REX{
    margin-left:10%;
}

.bg{
    background-color: lightgray;
}
.NEW{
    margin-left: -5%;
}

.ROW{
   padding: 0%;
}
table{
    color: black;
}
