<!-- --------------------------------- -->
<!-- APP HEADER  (COMPONENTS HERE) -->
<!-- --------------------------------- -->
<app-header class="mb-5"></app-header>
<!-- --------------------------------- -->
<!-- APP SOURCE HTML (COMPONENTS HERE) -->
<!-- --------------------------------- -->
<app-navbar class="mt-5"></app-navbar>
<div class="container mt-5">

<!-- --------------------------------- -->
<!-- APP NAVBAR (COMPONENTS HERE) -->
<!-- --------------------------------- -->


<!-- --------------------------------- -->
<!-- APP  (COMPONENTS HERE) -->
<!-- --------------------------------- -->
    <router-outlet></router-outlet>

<!-- --------------------------------- -->
<!-- APP FOOTER (COMPONENTS HERE) -->
<!-- --------------------------------- -->
</div>

<app-footer></app-footer>




