
<!-- reactive form -->
<!-- Form to Customize -->

<div class = "selectButton">
    <select class ="seletc_resource" #selectProject (change)="switchProject($event)">
        <option></option>
        <option *ngFor="let project of project_name" [ngValue]="project.projectName">
            {{project.projectName}}
        </option>
    </select>
</div>
<br>
<br>
 <div class="DynamicForm">
    <!-- form group dynamic form -->
    <form [formGroup]="dynamicFormulaForm" class="formula">
        <!-- table -->
        <table class="table table-hover w-auto">
            <thead class="thead-light">
                <div>
                    <tr class="tr-thead">
                        <th scope="col">
                            #
                        </th>
                        <ng-container *ngFor="let colname of table_col_names">
                            <th scope="col">
                                <input type="text" disabled value={{colname}} class="font-weight-bold text-center"/>
                            </th>
                        </ng-container>
                    </tr>
                </div>
            </thead>
            <tbody formArrayName="formArrayForFormula" class="list-group list-group-flush">
                <div *ngFor="let faff of formArrayForFormula.controls; let i = index" [formGroupName]="i">
                    <tr>
                        <th scope="row" class="tbody-row-header">
                            {{ i+1 }}
                        </th>
                        <td>
                            <input type="text" formControlName="name" class="form-control bg-white text-dark"  />
                        </td>
                        <ng-container *ngIf="display_cost_code">
                            <td>
                                <input type="text" formControlName="cost_code" class="form-control bg-white text-dark" />
                            </td>
                        </ng-container>
                        <ng-container *ngIf="displayTemplate" formArrayName="template_data_array">
                            <ng-container *ngFor="let template_data of faff.get('template_data_array').controls; let j = index; let a = index">
                                <!-- number type -->
                                <ng-container *ngIf="type[a] === 'Number'">
                                    <td>
                                        <input type="text" class="form-control bg-white text-dark" [formControlName]="j" 
                                        [(ngModel)]="Number$[i][a]" 
                                        (change)="formulaCalculation(i)"
                                        />
                                        i: {{ i }}
                                        j: {{ j }}
                                        number: {{ Number$[i][a] }}
                                    </td>
                                </ng-container>
                                <!-- text type -->
                                <ng-container *ngIf="type[a] === 'Text'">
                                    <td>
                                        <input type="text" class="form-control bg-white text-dark" [formControlName]="j" 
                                        [(ngModel)]="Text$[i][a]"
                                         />
                                        i: {{ i }}
                                        j: {{ j }}
                                        text: {{ Text$[i][a] }}
                                    </td>
                                </ng-container>
                                <!-- formula type this.formArrayForFormula() -->
                                <ng-container *ngIf="type[a] === 'Formula'">
                                    <td>
                                        <input type="text" class="form-control bg-white text-dark" [formControlName]="j" 
                                        [(ngModel)]="Formula$[i][a]" 
                                        />
                                        i: {{ i }}
                                        j: {{ j }}
                                        formula: {{ Formula$[i][a] }}
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tr>
                </div>
            </tbody>
        </table>
            <!-- button  -->
            <div class="button">

                <!-- submit -->
                <div class="card-footer text-center form-group col submit-button-container">
                    <button class="btn btn-primary mr-1" type="submit" (click)="submit()">Submit</button>
                </div>
                <!-- submit -->
                
            </div>
            <!-- button  --> 
        <!-- form array name fg -->    

    </form>
    <!-- form group dynamic form -->
</div> 

<div class="template-navigation">
    <a routerLink="/formulaPage/templete">Edit Quantity Survey Template</a>
</div>

