
    
        <nav class="navbar navbar-fixed-top navbar-expand-md bg">

          
            <div class="HEADER-ROW">
                    <div class="">
                            <a class="navbar-brand H p-2" [routerLink]="['/homePage']" routerLinkActive="router-link-active">
                                <i class="fas fa-th-large NAV-ICON mr-2"></i> 
                                    Resources Management
                             </a>
                    </div>
            </div>
            <div class="H-RIGHT row">
                <ng-template class="" #popTitle>
                <div class="jumbotron  bg-dark p-5 text-white">
                        <div class="row justify-content-center mb-0"><h1>Manager</h1> </div>
                        <div class="row justify-content-center">Member Since:</div>
                        <div class="row justify-content-center">November-2015</div>
                </div>
                </ng-template>
                <ng-template #popButtons>
                                <div class="btn-group btn-group-toggle p-0 ">
                                        <label class="btn-primary " ngbButtonLabel>
                                                <input type="checkbox" ngbButton [(ngModel)]="model.left"> 
                                                <i class="fas fa-id-card mt-2"></i>
                                        </label>
                                        <label (click)="onSignout()" class="btn-danger  ml-1 justify-content-center" ngbButtonLabel>
                                                <input type="checkbox" ngbButton [(ngModel)]="model.right"> 
                                                <i class="fas fa-power-off mt-2"></i>
                                        </label>                             
                                </div>  
                              
                                
                </ng-template>

                <button type="button" class="btn " placement="bottom"  click=""
                        [ngbPopover]="popButtons" [popoverTitle]="popTitle" popoverClass=" card bg-secondary">
                        <i class="fas fa-user-astronaut H-ICON-USER "></i>
                </button>
                <button type="button" class="btn " placement="bottom" 
                        ngbPopover="Questions??" popoverTitle="Contact ADMIN">
                        <i class="far fa-question-circle H-ICON-USER ml-5"></i>
                </button>  
                    
            </div>
               
         

            
        </nav>
    
