
    
        <nav class="navbar navbar-fixed-top navbar-expand-lg bg-secondary">

          
            <div class="HEADER-ROW">
                    <div class="">
                            <a class="navbar-brand H p-1" [routerLink]="['/']" routerLinkActive="router-link-active">
                                <i class="fas fa-th-large NAV-ICON mr-2"></i> 
                                    Resources Management
                             </a>
                    </div>
            </div>
            <div class="H-RIGHT">
                <ng-template #popcontent>Member Since: November-2015</ng-template>
                <button type="button" class="btn btn-outline-dark mr-2" placement="bottom"
                        ngbPopover="Member Since: November-2015" popoverTitle="Cost Manager">
                        <i class="fas fa-user-astronaut H-ICON-USER "></i>
                </button>
                   
                    <i class="far fa-question-circle H-ICON-USER ml-5"></i>
            </div>
               
         

            
        </nav>
    
