i {
    font-size: 300%;
}

.H-ICON-USER{
    font-size: 285%;
}
.H{
    color: oldlace;
}

.HEADER-ROW{
	background-color: orangered;
	height: 100%;
}

.H-RIGHT{
	margin-left: 45%;
	
}

i:link, i:visited{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 100%;
	border-bottom: 1.5px solid transparent;
	transition: border-bottom .2s;
	
}

i:hover, i:active {
	color:rgba(232, 65, 24,1.0);
	border-bottom: 1.5px solid #fff;
	
}
.bg{
	background-color: lightgray;
	height: 5rem;
}

label{
	margin-left: -3%;
	width: 8rem;
}